<h1>Barrido de frecuencias</h1>
<div class="container">
  <div class="radio-sdr">
    <p-card
      header="Radio"
      subheader="Parámetros del SDR"
      [style]="{ width: '400px' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/images/LimeSDR.jpeg" />
      </ng-template>
      <div>
        <label for="vertical"
          >Frecuencia central {{ frequency[0] + "-" + frequency[1] }} MHz</label
        >
        <p-slider [min]="50" [max]="250" [(ngModel)]="frequency" [range]="true"></p-slider>

        <h4>Ancho de banda {{ BWFreq?.sampleFrequency | number }} (Hz)</h4>
        <p-dropdown
          [options]="frequencySample"
          [(ngModel)]="BWFreq"
          placeholder="Seleccione Ancho de banda"
          optionLabel="sampleFrequency"
          [showClear]="true"
        ></p-dropdown>

        <h4>Tamaño FFT {{ fftSize?.fft }}</h4>
        <p-dropdown
          [options]="nfft"
          [(ngModel)]="fftSize"
          placeholder="Seleccione FFT"
          optionLabel="fft"
          [showClear]="true"
        ></p-dropdown>
      </div>
    </p-card>
  </div>

  <div class="position-antena">
    <p-card
      header="Posicionamiento de antena"
      subheader="Parámetros del rotor"
      [style]="{ width: '400px' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/images/Yaesu.jpeg" />
      </ng-template>

      <div>
        <h4 class="mt-3">Elevación (grados)</h4>
        <p-knob
          [(ngModel)]="elevation"
          [step]="5"
          [max]="MAX_ELEVATION"
        ></p-knob>
      </div>

      <div>
        <h4 class="mt-3">Azimut {{ azimut }} (grados)</h4>
        <p-slider [(ngModel)]="azimut" [step]="5" [max]="MAX_AZIMUT"></p-slider>
      </div>
    </p-card>
  </div>

  <div class="timmer">
    <h4>Tiempo de sensado (seg)</h4>
    <div class="timmer-elements">
      <i class="pi pi-clock" style="font-size: 2rem"></i>
      <p-inputNumber
        [(ngModel)]="timer"
        mode="decimal"
        [min]="1"
        [max]="300"
        [showButtons]="true"
      ></p-inputNumber>
    </div>

    <p-confirmDialog
      header="Confirmation"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>

    <button
      (click)="confirm()"
      pButton
      icon="pi pi-check"
      label="Confirmar"
    ></button>
  </div>
</div>
